<p style="color: green"><%= notice %></p>

<%= render @barang %>

<div>
  <%= link_to "Edit this barang", edit_barang_path(@barang) %> |
  <%= link_to "Back to barangs", barangs_path %>

  <%= button_to "Destroy this barang", @barang, method: :delete %>
</div>
